{% extends 'base.html.twig' %}

{% block header %}
    <a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a> | 
    <a href="{{ path('twig') }}">{% trans %}Twig{% endtrans %}</a> | 
    <a href="{{ path('user-index') }}">{% trans %}IP entities{% endtrans %}</a> | 
    <a href="{{ path('contact') }}">{% trans %}Contact{% endtrans %}</a> | 
    <a href="{{ path('lang', {locale: 'fr'}) }}">{% trans %}French{% endtrans %}</a> |
    <a href="{{ path('lang', {locale: 'en'}) }}">{% trans %}English{% endtrans %}</a>
    
{% endblock %}